@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #121b27;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.title {
  color: #fff;
  font-size: 48pt;
  font-style: italic;
  font-weight: bold;
  vertical-align: top;
  padding-left: 20px;
}

#rushing {
  text-align: center;
  background-color: #b6b6b6;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#rushing td, #rushing th {
  border: 1px solid #ddd;
  padding: 8px;
}

#rushing tr:nth-child(even){background-color: #f2f2f2;}

#rushing tr:hover {background-color: #ddd;}

#rushing th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #062754;
  color: white;
}

.search-players-bar {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
}
.search-players-bar input {
  width: 60%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}
.search-players-bar select {
  width: 60%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  background: #fff;
}
.search-players-input-wrapper {
  flex: 1;
}
.sort-players-select-wrapper {
  flex: 1;
  align-self: flex-end;
  text-align: center;
}
.download-csv-wrapper {
  flex: 1;
  align-self: flex-end;
  color: #fff;
  text-align: right;
}
button.btn {
  border: 2;
  border-radius: 2px;
  width: 150px;
  height: 35px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  background: transparent;
  border-color: #0078fd;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 3px;
}
button.btn:hover {
  transition: background-color .15s ease, border-color .15s ease, color .15s ease;
  background: #0078fd;
}
.download-csv-wrapper button.btn {
  width: 60%;
  height: 45px;
  font-size: 16px;
  margin-bottom: 0;
}
